@import url('https://fonts.cdnfonts.com/css/tech-headlines');

body {
    background-color: #101010;
    margin: 0;
    padding-bottom: 50px;
    background: linear-gradient(90deg, #000040, #006fff, #000040);
    overflow: hidden;
}

.maplibregl-control-container {
    display: none !important;
}

#mapbutton {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 3vw;
  background-color: blue;
  margin-top: 1vh;
  width: 50px;
  height: 50px;
}

#mapimg {
  width: 100%;
  height: 100%;
}

.world {
  display: flex;
  width: 90%;
  height: 80vh;
  aspect-ratio: 16/9;
  background-color: #0000af60;
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 25px;
}

@media (max-width: 1024px) {
  .world {
    display: flex;
    width: 95vw;
    height: 100vh;
    aspect-ratio: 16/9;
    background-color: #0000af60;
    margin: 0 auto;
    /* margin-top: 70px; */
    border-radius: 25px;
  }
}

.world > canvas {
  border-radius: 25px;
}

.world:hover {
  cursor: pointer;
}
